body {
    background-color: rgb(52, 51, 51);
    color: aqua;
    font-family: sans-serif;
    text-align: center;
}

main {
    min-height: 576;
    min-width: 1024;
}

.counter {
    display: inline-block;
    width: 256px;
    margin: 24px;
}

canvas {
    /* background: rgb(251,110,63); */
    background: linear-gradient(25deg, rgb(63, 195, 251) 59%, rgb(240, 252, 70) 100%);
}

.clear {
    margin: 24px
}